@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
@import url("mediumscreen-style.css");
@import url("bigscreen-style.css");

/* general style */

body {
    background: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    color: #442c2e;
}

.container {
    display: grid;
}

a {
    text-decoration: none;
}


/* header style */

h1 {
    text-align: center;
}

#home {
    border-top: 1px solid #442c2e;
}

.header {
    background-color: #fedbd0;
}

.nav {
    background-color: #fedbd0;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

.nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #442c2e;
    transition: background-color 0.2s;
    color: #442c2e;
}

.nav ul li:hover {
    background-color: #feeae6;
    color: gray;
}


/* banner style */

.banner img {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #442c2e;
}


/* recent blog posts style */

#recent-text {
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.images img {
    width: 100%;
    max-width: 560px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* article style */

.article {
    margin-left: 20px;
    margin-right: 20px;
}

.article p {
    text-align: justify;
}

.blog-image img {
    width: 100%;
    max-width: 532px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

blockquote {
    border-left: 3px solid #442c2e;
    padding: 10px;
}


/* aside style */

.aside {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-top: 3px solid #442c2e;
}

.about-card img {
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.about-card button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid #f0cac0;
    background: #f0cac0;
    font-family: 'Rubik', sans-serif;
    color: #442c2e;
    font-size: 20px;
}

.about-card button:hover {
    background: #feeae6;
    color: gray;
    border: 3px solid #f0cac0;
    transition: background-color 0.2s;
}

.archives {
    margin-bottom: 20px;
}

.archives ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.archives a {
    color: #b98f8e;
}

.archives a:hover {
    color: gray;
}


/* footer style */

.footer {
    text-align: center;
    background-color: #442c2e;
    color: #feeae6;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons img {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 9px;
    border: 1px solid #442c2e;
}

.social-icons img:hover {
    border: 1px solid #feeae6;
}